<!-- Footer -->
<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3 class="h3">Find Pedicures</h3>
            <ul class="footer-links">
                <li><a href="/" class="nav-regular">Search Pedicures by Location</a></li>
                <li><a href="/#state-cities" class="nav-regular">Best Pedicures by Cities</a></li>
                <li><a href="/sitemap.xml" class="nav-regular">Sitemap</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 class="h3">About Us</h3>
            <ul class="footer-links">
                <li><a href="/about" class="nav-regular">Our Story</a></li>
                <li><a href="/contact" class="nav-regular">Contact Us</a></li>
                <li><a href="/#faqs" class="nav-regular">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 class="h3">For Business</h3>
            <ul class="footer-links">
                <li><a href="/list-your-business" class="nav-regular">List Your Salon</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="body-md">&copy; 2025 LocalPedicures.com. All rights reserved.</p>
    </div>
</footer>

